
html,body{
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Noto Serif', serif;
    height: 100%;
    }
    
    #lg{
        display: none;
    }
    #lg{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #D6ED17FF;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #D6ED17FF;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #D6ED17FF;
    width: 100px;
    height: 40px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

    #mainnavbar{
        font-size: 1rem;
        font-weight: 600;
        
    }
    .fa-heartbeat{
        color: red;
    }
    .navbar-brand{
        color: #c6426e;
    }
    .nav-link{
        color:  #c6426e;
    }
    #control{
        margin-top: 100px !important;
    }
    .card img{
        height: 100px !important;
        width: 120px;
        
    }

    #db{
        display: none;
    }

    #head{
        color: #FF5959 !important;
        font-weight: 600;
    }

    .fa-trash-alt{
        color: red;
        font-size: 30px;
    }

    .fa-user-plus{
        font-size: 60px;
        color: #FF5959 !important;
    }

    .form{
        border: solid 2px rgb(212, 144, 195);
        border-radius: 5px;
    }

    #entry{
        display: none;
        background-color: rgb(54, 49, 49);
        border-radius: 10px;
        border-style: none;
    }

    #patientTable{
        border-radius: 15px;
    }
    .split{
        width: 6rem;
    }
    